fullnameOverride: "{{ KUBERNETES.COMMON_FULLNAME_OVERRIDE }}-http"

celerypy:
  enabled: false
  
nginx:
  enabled: true
  port: 8000
  
resources:
  requests:
    cpu: "200m"
    memory: "512Mi"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 75
