[[source]]
url = "https://repo.huaweicloud.com/repository/pypi/simple"
verify_ssl = true
name = "huaweicloud-pypi"

[packages]
# base 
pytz = "~=2021.1"
utils2devops = ">=0.1.4"
psycopg2-binary = "~=2.8.6"
djangorestframework = "~=3.12.2"
django-filter = "~=2.4.0"
six = "~=1.15.0"
django-rest-auth = "~=0.9.5"
coreapi = "~=2.3.3"
requests = ">=2.25.1"
python-dotenv = "~=0.15.0"
django-slack = "~=5.16.0"
python-telegram-bot = "~=13.3"
Django = "~=3.1.7"
daphne = "~=3.0.1"
jwt = "~=1.2.0"
djangorestframework-jwt = "~=1.11.0"
Twisted = "~=21.2.0"
cryptography = "~=3.3.2"
pyasn1 = "~=0.4.8"
autobahn = "==21.2.1"
django-jsoneditor = {ref = "108bc86b134bc926fa584064a132b5be1640cb5c", git = "https://github.com/martn/django-jsoneditor"}
django-keycloak = {ref = "e6fb900", git = "https://github.com/rq0net/django-keycloak"}
caesar-user = {ref = "8bbbe47", git = "https://github.com/rq0net/caesar-user"}
django-ajax-selects = {ref = "1c4c7f8", git = "https://github.com/rq0net/django-ajax-selects"}
uWSGI = ">=2.0.19"
django-celery-results = "~=2.0.1"

[dev-packages]
django-debug-toolbar = "==3.2"

[requires]
python_version = "3.9"
